
.note-info-root {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .control-btn {
    display: block;
    margin: 0;
    background-color: #3678BD;
    color: white;
    font-size: 28px;
    //height: 54px;
    //line-height: 54px;
  }
}


.relationship {
  display: flex;
  align-items: center;

  .people-info {
    display: block;
    margin-left: 20px;
    .top {
      color: #FFFFFF;
    }
    .bottom {
      color: #706E76;
      font-size: 24px;
    }
    .name {
      font-size: 28px;
    }
    .praise {
      font-size: 24px;
    }
  }
}
