
.avatar-root {
  display: inline-block;
  box-sizing: border-box;
  .face {
    display: block;
    border-radius: 50%;
    overflow: hidden;
  }
}

//.gradual-circle {
  //position: relative;
  //z-index: 5;
  //border: 10px solid transparent;

  //&:before {
  //  position: absolute;
  //  z-index: -1;
  //  border-radius: 50%;
  //  display: block;
  //  content: " ";
  //  background-color: #100E1B;
  //  top: -6px;
  //  left: -6px;
  //  bottom: -6px;
  //  right: -6px;
  //}
  //&:after {
  //  position: absolute;
  //  z-index: -2;
  //  border-radius: 50%;
  //  display: block;
  //  content: " ";
  //  background: linear-gradient(140deg, #F0EA3D 10%, #6BB92D 35%, #006234 65%, #296DB1 90%);
  //  top: -10px;
  //  left: -10px;
  //  bottom: -10px;
  //  right: -10px;
  //}
  //.face {
  //  width: 75px;
  //  height: 75px;
  //  border: none;
  //}
//}

.gradual-circle {
  display: block;
  box-sizing: border-box;
  padding: 12px;
  background-size: cover;
  background-image: url("../../assets/face_circle.png");
  .face {
    width: 78px;
    height: 78px;
  }
}

.slide-white-circle {
  position: relative;
  &:after {
    position: absolute;
    z-index: 2;
    display: block;
    content: " ";
    background-color: #3678BD;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    bottom: -18px;
    left: 50%;
    margin-left: -18px;
    background-image: url("../../assets/icon_follow_btn_plus.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
  }
  .face {
    width: 65px;
    height: 65px;
    border: 2px solid #FFFFFF;
  }
}

.gray-circle {
  padding: 4px;
  border: 4px solid #2F2C3C;
  border-radius: 50%;
  .face {
    width: 45px;
    height: 45px;
  }
}
